body{
    overflow-x:hidden;
}

#cabecalho{
    background: #cccc;
    padding: 20px;
    width: 100%;
    height: 180px;
    background-image: linear-gradient(to left, #494644, #928f8d);
    animation: degrade 2s infinite alternate;
    background-size: 500% 100%;
}

@keyframes degrade {
    from{
        background-position-x: 0%;
    }
    to{
        background-position-x: 100%;
    }
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #D3BF9B;
    font-weight: bold; /*Deixa a fonte mais grossa, bold colocamos em negrito*/
    text-decoration: none; /*Retira on underline*/
    font-size: 22px; /*Altura da fonte*/
}

nav a:hover{
    color: #d1b37b;
    text-decoration: underline;
}

CRIAÇÃO DE CARROSEL
/* .slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    /* overflow: hidden; }*/
/*

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 800px;
}

.manual-navigation {
    position: relative;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid rgb(240, 5, 5);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: rgb(250, 19, 19);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
} */

/* #radio1:checked ~ .first{
    margin-left: 0;
} */

/* FIM DE CARROSEL */


.principal{
    background: #cccccc;
    padding: 35px;
}

.titulo{
    text-align: center;
}

p{
    text-align: center;
}

#missao{
    font-size: 20px;
}

em strong {
    color: red;
}

.itens{
    font-style: italic;
    display: inline-block;
    vertical-align: top; /*PARA ALINHAR O CONTEUDO DE TEXTO NO TOP DA DIV */
    margin-right: 15%;
}

.beneficios{
    background: white;
    padding: 20PX;
}

.imgBeneficios{
    width: 50%;
}


footer{
    text-align: center;
    background: url("../produtos/img/bg.jpg");
    padding: 40px 0;
}
.animate{
    transform: translateY(0);
    height: 200px;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(0px);
    }
}

.copy{
    color: #D3BF9B;
    margin-top: 15px;
    text-decoration: none;
}
