body{
    overflow-x:hidden;
}

#cabecalho{
    background: #cccc;
    padding: 20px;
    width: 100%;
    height: 180px;
    background-image: linear-gradient(to left, #494644, #928f8d);
    animation: degrade 2s infinite alternate;
    background-size: 500% 100%;
    box-sizing: content-box;
}

.carrosel{
    margin: 15px 0px 15px 0px;
}

@keyframes degrade {
    from{
        background-position-x: 0%;
    }
    to{
        background-position-x: 100%;
    }
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #D3BF9B;
    font-weight: bold; 
    text-decoration: none; 
    font-size: 22px; 
}
nav a:hover{
    color: #d1b37b;
    text-decoration: underline;
}

.principal{
    background: #cccccc;
    padding: 35px;
}

footer{
    text-align: center;
    background: url("../produtos/img/bg.jpg");
    padding: 40px 0;
}

footer p {
    color: #D3BF9B;
}

.animate{
    transform: translateY(0);
    height: 200px;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-30px);
    }

    100%{
        transform: translateY(0px);
    }
}

.copy{
    color: #D3BF9B;
    margin-top: 15px;
    text-decoration: none;
}
